<div class = 'container pad-lr-0' id="favorite" ng-controller ='FavoriteRecipesController'>
    <!-- START SEARCH FORM -->
    <div class="container container-spl">       
        <!-- HEADER SECTION -->
        <div class ='row alignCenter title'>
            <h1 alignCenter>My Favorite Recipes</h1>
            <p>{{ tagline }}</p>
        </div>
            <div class="container pad-lr-0 container-spl title" ng-controller ='FavoriteRecipesController' ng-init = "GetTestData()">
        <h3 class="panel-heading container-spl ">Test data</h3>
        <p>{{ testData }}</p>
    </div>
</div>