<div class = 'container pad-lr-0' id="nerd" ng-controller ='NerdController'>
    <div class="container pad-lr-0 container-spl">
        <div class ='row alignCenter title'>
            <h1 alignCenter>Nerds and Proud</h1>
            <p>{{ tagline }}</p>
        </div>
    </div>

    <div class="container pad-lr-0 container-spl title" ng-controller ='NerdController' ng-init = "GetTestData()">
        <h3 class="panel-heading container-spl ">Test data</h3>
        <p>{{ testData }}</p>
    </div>
</div>