<div class = 'container pad-lr-0' ng-controller ='RecipeController' ng-init='getRecipeDetail()'>

<div class="container search-form">
    <div class ='row alignCenter'>
        <h1 alignCenter>Recipe Details Page</h1>
		<p>{{ tagline }}</p>
    </div>
</div>

<div class="container table-result">
	<div class= "container header">
		<h2>RecipeId = {{recipe_id}}</h2>
		<b>Here are the details for recipe id {{recipe_id}}.</b>
	</div>
	<div class= "container content">
	<table class = "table table-bordered">
	    <tr>
	        <th>id</th>
	        <th>name</th>
	        <th>yield</th>
	        <th>totalTime</th>
	         <th>source</th>

	    </tr>
	    <tr>
	        <td>{{recipeDetail.id}}</td>
	        <td>{{recipeDetail.name}}</td>
	        <td>{{recipeDetail.yield}}</td>
	        <td>{{recipeDetail.totalTime}}</td>
	        <td>{{recipeDetail.source}}</td>

	    </tr>
	</table>
	</div>
</div>

