<div class = 'container pad-lr-0' id="profile" ng-controller ='UserController'>
    	<!-- START SEARCH FORM -->
    	<div class="container container-spl">       
        	<!-- HEADER SECTION -->
        	<div class ='row alignCenter title'>
            	<h1 alignCenter>User Profile</h1>
        	</div>
     	</div>
            	
            	<div class="container pad-lr-0 container-spl title" ng-controller ='UserController' ng-init = "GetTestData()">
        		<h3 class="panel-heading container-spl ">All User Data</h3>
        	<p>{{ testData }}</p>
        	<h3 class="panel-heading container-spl ">Single User Data</h3>
        	<p>{{ singleUser }}</p>
    	</div>
</div>
