<div class = 'container pad-lr-0' id="profile" ng-controller ='UserController'>
    <!-- START SEARCH FORM -->
	<div class="container container-spl pad-b-15">       
    	<!-- HEADER SECTION -->
    	<div class ='row alignCenter title'>
        	<h1 alignCenter>User Profile</h1>
    	</div>
 	</div>

    <!-- START DISPLAYING TESTING DATA-->
    <div class="container pad-lr-0 container-spl" >
        <!-- START GET ALL USERS DATA FROM DB. FOR TESTING ONLY-->
<!--         <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">All User Data</h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body pad-lr-0 container-spl">
                <div class="container alightCenter" ng-repeat="data in testData">
                    <dl class="dl">
                        <dt>User Object: </dt>
                        <dd class="text-justify well">{{ data }}</e>
                    </dl>
                </div>
            </div>
        </div> -->
        <!-- END GET ALL USERS DATA FROM DB. FOR TESTING ONLY-->
        <!-- START GET A SINGLE USER FROM DB. FOR TESTING ONLY-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Your Info</h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body pad-lr-0 container-spl">    
                <div class="container alightCenter">    
                    <dl class="dl">
                        <!-- <dt>User Object: </dt>
                        <dd class="text-justify well">{{ singleUser }}</dd> -->
                        <dt>Name</dt>
                        <dd>{{ singleUser.firstName }} {{ singleUser.lastName }}</dd>
                        <dt>Email</dt>
                        <dd> {{ singleUser.email }}</dd>
                        <dt>Developer</dt>
                        <dd>{{ singleUser.developer }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- END GET A SINGLE USER FROM DB. FOR TESTING ONLY-->
    </div>
    <!-- END DISPLAYING TESTING DATA-->
</div>
