<div class="content pad-lr-0 container-spl col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3  col-md-offset-3 col-sm-offset-3" id="login" ng-controller ='RegisterController'>

    <h1 class='title'>Create account</h1>

    <div class ='row container-spl'>
        <div ng-show="error" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id'error'>
            <div class ='alert alert-danger'>
                <strong>Error</strong> {{errorMessage}}
            </div>
        </div>        
        <form class="form" role="form" name='registerForm' novalidate ng-submit='register(registerForm.$valid)'>
            <!--First Name-->            
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-class="{ 'has-error': registerForm.firstname.$invalid && registerForm.firstname.$pristine && submitted}">
                First Name*&nbsp;<input type="text"class="form-control reg_input" name='firstname' placeholder="First Name" ng-model="userRegister.first_name" required>
                <p ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine && submitted" class="help-block">First name is required</p>
            </div>
            <!--Last Name-->            
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-class="{ 'has-error': registerForm.lastname.$invalid && registerForm.lastname.$pristine && submitted}">
                Last Name*&nbsp;<input type="text"class="form-control reg_input" name='lastname' placeholder="First Name" ng-model="userRegister.last_name" required>
                <p ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine && submitted" class="help-block">Last name is required</p>
            </div>
            <!--Email-->            
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"ng-class="{ 'has-error': registerForm.email.$invalid && registerForm.email.$pristine && submitted}">
                Email*&nbsp;<input type="email" class="form-control reg_input" name='email'placeholder="E-mail" ng-model="userRegister.email" required>
                <p ng-show="registerForm.email.$error.required  && submitted" class="help-block">Email is required</p>
                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine  && submitted" class="help-block">Please enter a valid email</p>
            </div>
            <!--Password-->            
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"ng-class="{ 'has-error': registerForm.password.$invalid && registerForm.password.$pristine && submitted}">
                Password*&nbsp;<input type="password" class="form-control reg_input" name='password' placeholder="Password" ng-model="userRegister.password" required>
                <p ng-show="registerForm.password.$invalid && !registerForm.password.$pristine  && submitted" class="help-block">Password is required</p>
            </div>
            <!--Confirm Password-->
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"ng-class="{ 'has-error': registerForm.confirmpassword.$invalid && registerForm.confirmpassword.$pristine && submitted}">
                Confirm Password*&nbsp;<input type="password" class="form-control reg_input" name='confirmpassword' placeholder="Password" required>
                <p ng-show="registerForm.confirmpassword.$invalid && !registerForm.confirmpassword.$pristine &&password===confirm_password && submitted" class="help-block">Confirm password is required</p>
            </div>                 
            <!--Button submit-->               
            <div class='form-actions col-lg-12 col-md-12 col-sm-12 col-xs-12'>               
                <button type='submit'>Create An Account</button>
            </div>
        </form>
    </div>

    <div class ='row container-spl'>

        <div class="social col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <span>or sign up with social media</span>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
            <button class="facebook">
                <span class="fa fa-facebook" aria-hidden="true"></span>&nbsp; Facebook
            </button>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
            <button class="twitter">
                <span class="fa fa-twitter" aria-hidden="true"></span>&nbsp; Twitter
            </button>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
            <button class="google">
                <span class="fa fa-google-plus" aria-hidden="true"></span>&nbsp; Google
            </button>
        </div>
        <div class="already col-lg-12 col-md-12 col-sm-12 col-xs-12 ">Already have an account? 
            <a href="/login">Sign In</a>
        </div>
    </div>
</div>
<div class="container pad-lr-0 container-spl pad-b-15"></div>