<!-- Using global controller 'MainContrller' -->
<div class = 'container pad-lr-0' id="searchResult" ng-controller ='SearchResultController' ng-init='searchRecipes()'>
<div class="container pad-lr-0 container-spl"></div>

    <!-- START SEARCH FORM -->
    <div class="container container-spl">       
        <!-- SEARCH AREA -->        
        <div class ='row container-spl'>
           <form class="form" role="form" id="formSearch" novalidate ng-submit='searchRecipesInSearch()'>
                <div class='form-group'>
                    <div class="input-group search-bar">
                       <input type="text" ng-model="search.Query" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="Enter your ingredients" autofocus />
                        <span class="input-group-btn bar-style">
                            <button type="submit" class="btn btn-default">
                                <i class="glyphicon glyphicon-search"></i> 
                            </button>
                        </span>
                    </div> 
                </div>           
           </form> 
        </div>  
        <div class ='clearfix'></div>
        <!-- END SEARCH AREA -->                
    </div> 
    <!-- END SEARCH FORM -->
    <!-- START PHOTO GALERY -->
    <div class="container pad-lr-0 container-spl">
        <h3 class="panel-heading title">Search Results</h3>

        <div class="row container-spl gallery" >
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 photo pad-t-10" ng-repeat="recipe in searchRes">
                <a href="/recipes/{{recipe.id}}" class="thumbnail alignCenter">
                    <img title="{{recipe.recipeName}}" ng-src="{{recipe.imageUrlsBySize[90]}}" class="img-responsive"> 
                    <h6>{{recipe.recipeName}}</h6>
                </a>
            </div>                
        </div>
    </div>
    <!-- END PHOTO GALERY -->
</div>
